import { Column, BaseModel } from '@athenna/database'

export class {{ namePascal }} extends BaseModel {
{{{ properties }}}

  public static async definition() {
    return {
{{{ definitions }}}
    }
  }
}
