import { Config } from '@athenna/config'
import { Migration } from '@athenna/database'

export class {{ nameMigrationClass }} extends Migration {
  public tableName = '{{ nameMigrationTable }}'

  public async up(db: DatabaseImpl) {
    return db.createTable(this.tableName, builder => {
      builder.increments('id')
    })
  }

  public async down(db: DatabaseImpl) {
    return db.dropTable(this.tableName)
  }
}
