import { Model, Column } from '@athenna/database'

export class {{ namePascal }} extends Model {
  @Column()
  public id: number

  public static attributes(): Partial<{{ namePascal }}> {
    return {}
  }

  public static async definition(): Promise<Partial<{{ namePascal }}>> {
    return {
      id: this.faker.datatype.number()
    }
  }
}
